@font-face {
    font-family: "Morganite";
    src: url("fonts/Morganite-SemiBold.ttf");
    font-weight: 500;
    font-display: block;
}

@font-face {
    font-family: "Morganite";
    src: url("fonts/Morganite-SemiBoldItalic.ttf");
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "R-flex";
    src: url("fonts/R-Flex-Regular.otf");
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: "Qwigley";
    src: url("fonts/Qwigley-Regular.ttf");
    font-display: block;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background-color: transparent;

}

:root {
    --bg-color-gray: #E1D8FF;
    --font-color-navy-blue: #272E5D;
    --purple: #6D44FF;
    --white: #EFEBFF;
}

html {
    font-size: 62.5%; /* for 1rem=10px */
}

body {
    background-color: var(--bg-color-gray);
    min-height: 100vh;
    max-width: 150rem;
    margin: auto;
    
    color: var(--font-color-navy-blue);
    font-family: Morganite, sans-serif;
}

img {
    max-width: 100%;
}

input {
    background-repeat: no-repeat;
    outline: none;
    font-size: 1.6rem;
    color: black;
}

input::placeholder {
    color: var(--Gray);
}

ol, ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.icon-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.text-icon-button { /*bunun box-sizing: property'sini değiştirmeyi düşün*/
    display: flex; /*bu class'a dahil elementlerin görünürlüğünü değiştirmek için display: none; gibi çözümler kullanırsan bu property bozulacaktır.*/
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 1.4rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-color-gray); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #272E5D; 
}

/****************************************************************/

h1, #footer-logo {
    font-size: 4.6rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.35rem;
}

h1 > span, #footer-logo > span {
    font-size: 1.9rem;
    letter-spacing: 0.35rem;
    font-weight: var(--semi-bold);
    margin-top: -0.5rem;
}

h2 {
    font-size: clamp(8.2rem, 25vw, 10.4rem);
    font-style: italic;
    letter-spacing: 0.6rem;
}

h3 {
    text-align: center;
    font-size: clamp(2.35rem, 3.3vw, 3.2rem) ;
    font-style: italic;
    font-weight: var(--semi-bold);
    letter-spacing: 0.3rem;
    padding: 0 3rem;
    margin-bottom: 6rem;
}

p {
    font-family: R-flex, sans-serif;
    font-size: 1.7rem;
}

button {
    letter-spacing: 0.2rem;
    color: var(--font-color-navy-blue);
    font-family: Morganite, sans-serif;
}

#sign-in-button {
    font-style: italic;
    font-size: 2.8rem;
}

header {
    background-image: url(images/hero-image-mobile.webp);
    background-size: cover;
    height: 75rem;
    padding-top: 2rem;
    position: relative;
}

header > #top-block {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-text {
    display: none;
}

#header-content-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 32rem;
    transform: translateY(-50%);
    padding: 0 8%;
}

#header-content-block > h2 {
    line-height: 90%;
}

#header-content-block > p {
    max-width: 50rem;
}

#sign-up-for-free {
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    font-weight: var(--semi-bold);
    font-style: italic;
}

#sign-up-for-free > span {
    font-family: Qwigley, cursive;
    color: var(--purple);
    letter-spacing: 0;
    padding-left: 1rem;
    font-size: 4.7rem;
}

#create-account-button {
    display: none;
}

#header-images-anchor {
    display: none;
}

/****************************************************************/

#header-bottom-content > .box {
    padding-top: 4rem;
    padding-bottom: 3.2rem;
}

#header-bottom-content > .box2 {
    background-color: var(--white);
}

#header-bottom-content > .box > .album-cover-container > img:first-child {
    width: 70%;
    max-width: 35rem;
    aspect-ratio: 1;
    display: block;
    margin: auto;
}

#header-bottom-content > .box > .album-cover-container > img:last-child {
    display: none;
}

#header-bottom-content > .box > .thin-content {
    font-family: R-flex, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3rem;
}

#header-bottom-content > .box > .content {
    font-size: 7.2rem;
    font-weight: var(--semi-bold);
    font-style: italic;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 4rem;
}

#header-bottom-content > .box > .content > span {
    font-size: 5.5rem;
    font-family: Qwigley, cursive;
    color: var(--purple);
}

/****************************************************************/

#container-for-overflow {
    overflow-y: hidden;
}

/****************************************************************/

#trends {
    padding-top: 20rem;
}

#trends > #trends-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.music-player {
    width: 90vw;
    max-width: 50rem;
    background-color: var(--purple);
    border-radius: 1.2rem 1.2rem 0.8rem 0.8rem; 
    box-shadow: 0.4rem 0.4rem var(--font-color-navy-blue);
    display: flex;
    color: var(--white);
}

#trends .music-number {
    display: none;
    z-index: -1;
    position: absolute;
    font-size: 20rem;
    color: var(--purple);
    opacity: 0.2;
}
  
#trends picture > img {
    height: 100%;
    width: auto;
    border-radius: 1.2rem 0 0 0.8rem;
}

#trends .right-container {
    flex-grow: 1;
}

#trends .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    height: 6.5rem;
}

#trends .music-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

#trends .artist {
    font-size: 1.1rem;
    font-family: R-flex, sans-serif;
    line-height: 1rem;
}

#trends cite {
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-style: normal;
    line-height: 2.5rem;
}

#trends button {
    background-position: center !important;
    background-size: contain !important;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
}

#trends .buttons {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

#trends .rewind-button {
    height: 2rem;
    width: 2.5rem;
    background: url(images/rewind-button.svg) no-repeat;
}

#trends .play-pause-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 2rem;

    border-color: transparent transparent transparent #edeae6;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 1.2rem 0 1.2rem 2rem;
}

.playing {
    border-style: double !important;
    border-width: 0 0 0 2rem !important;
}

#trends .timer {
    height: 2.3rem;
    display: flex;
    align-items: center;
    gap: 1.4%;
    padding: 0 3%;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

#trends .time-limit {
    margin-left: auto;
}

#trends .timer-bar {
    height: 0.6rem;
    width: 100%;
    background-color: #ffffff4d;
    border-radius: 1rem;
    overflow: hidden;
}

#trends .loading-bar {
    height: 0.6rem;
    border-radius: 1rem;
    background-color: #ffad3e;
    transform: translateX(-100%);
}

.timer-bar-animation {
    animation: timer-bar 30s linear infinite;
}

@keyframes timer-bar {
    100% {transform: translateX(0%)};
}

/****************************************************************/

section:not(#header-bottom-content) {
    margin-bottom: 23rem;
}

.main-h2 {
    text-align: center;
    margin-bottom: 7rem;
    padding: 0 3rem;
}

.main-h2 div {
    color: var(--purple);
    font-size: 3rem;
    font-style: normal;
    font-family: R-flex;
    letter-spacing: 1px;
}

#podcast-library #podcasts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#podcast-library .podcast {
    background-color: var(--white);
    width: 33rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 1.5rem #623cea33;
    position: relative;
}

.podcast-animation {
    animation: podcast-animation 0.75s forwards;
}

@keyframes podcast-animation {
    0% {transform: translateX(-150%);}
    100% {transform: translateX(0%);}
}

#podcast-library .top-info {
    display: flex;
    justify-content: space-between;
    font-family: R-Flex, sans-serif;
    font-size: 1.2rem;
    margin: 1.5rem 0 5rem 0;
}

#podcast-library .podcast-name {
    font-size: 4.8rem;
    font-style: italic;
    text-align: center;
}

#podcast-library .hoster, #podcast-library .about-podcast {
    font-size: 1.6rem;
    text-align: center;
    font-family: R-Flex, sans-serif;
}

#podcast-library .hoster {
    margin-bottom: 5rem;
}

#podcast-library .purple-stick {
    width: 60%;
    height: 0.3rem;
    background-color: var(--purple);
    position: absolute;
    right: 0;
    bottom: 0;
}

#view-all-button {
    width: 33rem;
    margin: auto;
    margin-top: 2.5rem;
}

#view-all-button button {
    font-size: 2.4rem;
    float: right;
}

/****************************************************************/

#artists #container-for-prev-next-buttons {
    width: 40rem;
    margin: auto;
    position: relative;
}

#artists #artists-container {
    width: 32rem;
    height: 54.2rem;
    overflow: hidden; 
    margin: auto;
    display: flex;
    gap: 5rem;
    padding: 1rem;
}

#artists .artist {
    background-color: var(--white);
    min-width: 30rem;
    width: 30rem;
    max-width: 30rem;
    height: 52.2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1.5rem #623cea33;
}

#artists #artists-container .artist img {
    width: 100%;
    aspect-ratio: 1;
}

#artists .text-content-grid {
    flex-grow: 1;
    display: grid;
    place-content: end center;
    grid-template-columns: 6.5rem 20rem;
    grid-template-rows: 15rem 5rem;
}

#artists .number {
    font-size: 10rem;
    color: var(--purple);
    opacity: 0.3;
    letter-spacing: 0.6rem;
    line-height: 8.5rem;
}

#artists .artist-name {
    font-size: 4.8rem;
    font-style: italic;
    letter-spacing: 0.2rem;
}

#artists .about-artist {
    font-size: 1.6rem;
    font-family: R-Flex, sans-serif;
    letter-spacing: 0rem;
}

#artists .artist button {
    grid-column: 2 / 3;
    justify-self: end;
    font-size: 2.4rem;
    place-self: center end;
}

#artists #container-for-prev-next-buttons > button {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(50%);
    bottom: 50%;
    background-color: var(--white);
    border-radius: 100%;
    box-shadow: 0 0 0.5rem 0.1rem #d0cce0;
}

#artists #container-for-prev-next-buttons > button:nth-child(1) {
    left: 0rem;
}

#artists #container-for-prev-next-buttons > button:nth-child(2) {
    right: 0;
}

/****************************************************************/

footer {
    background-image: linear-gradient(#623cea00, #623CEA);
    overflow-x: clip;
    position: relative;
}

footer #footer-h2 {
    display: none;
}

footer #newsletter {
    text-align: center;
}

footer #newsletter h4 {
    letter-spacing: 0.2rem;
    font-style: italic;
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
    opacity: initial;
}

footer #newsletter p {
    margin-bottom: 3rem;
    padding: 0 3rem;
}

footer form {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 1.5rem #623cea33;
    margin-bottom: 8rem;
}

footer form #email {
    background-color: var(--white);
    height: 3.5rem;
    width: 30rem;
    padding-left: 1rem;
}

footer form #email::placeholder {
    color: #272e5de8;
    font-family: R-Flex, sans-serif;
}

footer form input[type="submit"] {
    width: 8.5rem;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--purple);
    color: var(--white);
    font-style: italic;
    font-family: Morganite, sans-serif;
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    cursor: pointer;
}

#footer-logo {
    background: url(images/footer-circle-chart.svg) no-repeat;
    background-position: center;
    margin: auto;
    padding: 2rem 1rem;
    margin-bottom: 5rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-family: R-Flex, sans-serif;
    font-size: 1.5rem;
    color: var(--white);
}

footer ul li a:hover {
    text-decoration: underline;
}

footer #copyright {
    font-family: R-Flex, sans-serif;
    color: var(--white);
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

/****************************************************************/

section {
    position: relative;
    overflow-x: clip;
}

.light {
    display: none;
}

.path {
    display: none;
}

/****************************************************************/

@media screen and (width < 410px) {
    #artists #container-for-prev-next-buttons {
        width: max-content;
    }

    #artists #container-for-prev-next-buttons > button:nth-child(1) {
        left: -2rem;
    }
    
    #artists #container-for-prev-next-buttons > button:nth-child(2) {
        right: -2rem;
    }
}

@media screen and (width >= 650px) {

    #header-content-block {
        padding: 0 5%;
    }

    /***************************/

    #trends > #trends-boxes {
        padding-top: 2.5rem;
        gap: 5rem;
    }

    #trends > #trends-boxes > .music-player {
        background-color: var(--white);
        color: var(--font-color-navy-blue);
        box-shadow: 0 0 1rem 0.1rem #d0cce0;
        width: 30rem;
        flex-direction: column;
        gap: 3rem;
        padding-top: 3rem;
        padding-bottom: 0.5rem;
        position: relative;
    }
    
    #trends .music-number {
        display: unset;
        left: -13rem;
        top: 50%;
        transform: translateY(-50%);
    }

    #trends picture {
        align-self: center;
    }

    #trends picture > img {
        height: 23rem;
        border-radius: 1rem 1rem 1rem 1rem;
        box-shadow: 0 0 1rem rgb(188, 182, 209);
    }

    #trends .rewind-button {
        background-image: url(images/rewind-button-purple.svg);
    }

    #trends .play-pause-button {
        border-color: transparent transparent transparent var(--font-color-navy-blue);
    }

    #trends .timer {
        font-size: 1.1rem;
    }

    #trends .timer-bar {
        background-color: #d0cce0;
    }

    #trends .loading-bar {
        background-color: var(--purple);
    }

    /***************************/
    
}




@media screen and (width >= 992px) {

    header {
        background-image: url(images/hero-image.webp);
        overflow: hidden;
    }

    header > #top-block > #sign-in-button {
        margin-left: auto;
        margin-right: 5rem;
    }

    .background-text {
        display: unset;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        color: rgba(109, 68, 255, 0.1);
        font-size: 60rem;
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    #header-background-text {
        top: 50%;
        color: rgba(109, 68, 255, 0.2);
    }

    .main-background-text {
        top: 11.5rem;
        z-index: -1;
    }

    #create-account-button {
        display: unset;
        font-size: 2.4rem;
        font-style: italic;
    
        background-color: var(--purple);
        color: white;
    
        width: 14rem;
        height: 5rem;
        z-index: 1;
    }

    #sign-up-for-free:hover > span {
        transform: scale(130%);
    }

    /***************************/

    #header-bottom-content {
        display: flex;
    }

    #header-bottom-content > .box {
        flex-basis: 50%;
    }
    
    /***************************/

    h3 {
        margin-bottom: 10rem;
    }

    /***************************/

    #trends > #trends-boxes {
        flex-direction: row;
        justify-content: center;
        gap: 3vw;
    }

    #trends .music-number {
        left: 50%;
        top: -10rem;
        transform: translateX(-50%);
        font-size: 10rem;
    }

    /***************************/

    .light {
        display: unset;
        position: absolute;
        z-index: -1;
        max-width: unset;
        width: 200rem;
        top: -90rem;
        left: 50%;
        transform: translateX(-50%);
    }

    #trends-light {
        top: -10rem;
        width: 80rem;
    }

    .path {
        display: unset;
        position: absolute;
        z-index: -1;
        max-width: unset;
    }
    
    #trends-path {
        bottom: -20rem;
        right: -20rem;
    }

    #podcast-path {
        top: -20rem;
        right: -55rem;
    }

    #artists-path {
        top: -50rem;
        right: 50%;
        transform: translateX(25%);
    }

    #footer-path {
        top: -20rem;
        right: -55rem;
    }

    /***************************/

    #podcast-library .podcast {
        width: clamp(90rem, 90vw, 100rem);
        padding: 0;
        display: flex;
        height: 23rem;
    }

    #podcast-library img:not(.path, .light) {
        height: 100%;
        flex-basis: 23rem;
    }

    #podcast-library .text-content-container {
        padding: 1rem 2.5rem 1rem 2.5rem;
        flex-grow: 1;
    }

    #podcast-library .top-info {
        margin: 0 0 4rem 0;
    }
    
    #podcast-library .podcast-name {
        text-align: start;
    }
    
    #podcast-library .hoster, #podcast-library .about-podcast {
        text-align: start;
    }
    
    #podcast-library .hoster {
        margin-bottom: 4rem;
    }

    #podcast-library .purple-stick {
        height: 60%;
        width: 0.3rem;
        right: 0;
        top: 0;
    }

    #view-all-button {
        width: clamp(90rem, 90vw, 100rem);
    }

    /***************************/
    
    #artists #container-for-prev-next-buttons {
        width: 80rem;
    }
    
    #artists #artists-container {
        width: 67rem;
    }

    /***************************/

    footer #footer-h2 {
        display: block;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.75rem;
        margin-bottom: 2rem;
    }
}



@media screen and (width >= 1200px) {

    #header-bottom-content > .box {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 3%;
        justify-items: center;

        position: relative;
        padding-left: 3rem;
        padding-right: 3rem;

        overflow-x: clip;

        z-index: 1;
    }

    #header-bottom-content > .box > .thin-content {
        grid-column: 1 / 3;
        transition: 0.5s;
    }

    #header-bottom-content > .box > .content {
        align-self: center;
    }

    #header-bottom-content > .box > .album-cover-container {
        position: relative;
    }

    #header-bottom-content > .box > .album-cover-container > img:first-child {
        max-width: unset !important;
        width: 26rem !important;
        margin: unset !important;
    }

    #header-bottom-content > .box > .album-cover-container > img:last-child {
        display: unset;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 26rem;
        aspect-ratio: 1;

        transition: 0.5s;
    }

    #header-bottom-content > .box:hover > .album-cover-container > img:last-child {
        transform: translateY(-49%) rotate(480deg);
    }

    #header-bottom-content > .box:hover > .thin-content {
        transform: translateX(-130%);
    }

    #header-bottom-content > .box > .background-animation {
        position: absolute;
        z-index: -2;
        transition: 0.5s;
    }
    
    #header-bottom-content > .box1 > .background-animation {
        background-color: var(--white);
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
    }

    #header-bottom-content > .box1:hover > .background-animation {
        left: 0;
    }

    #header-bottom-content > .box2 {
        background-color: var(--white);
    }

    #trends > #trends-boxes {
        flex-direction: row;
        justify-content: center;
        gap: 5vw;
    }

    /***************************/

    #artists #container-for-prev-next-buttons {
        width: 115rem;
    }
    
    #artists #artists-container {
        width: 102rem;
    }
}


@media screen and ( width >= 1240px ) {
    #header-images-anchor {
        position: absolute;
        right: 29%;
        top: 50%;
        width: 1px;
        height: 1px;
        z-index: 3;
        display: unset;
    }

    #header-images-anchor > img:nth-child(1) {
        max-width: unset;
        width: clamp(19rem, 20vw, 30rem);
        position: absolute;
        top: -20rem;
        left: 0rem;
    }

    #header-images-anchor > img:nth-child(2) {
        max-width: unset;
        width: clamp(10rem, 18vw, 25rem);
        position: absolute;
        top: -13rem;
        left: -13rem;
    }

    #header-images-anchor > img:nth-child(3) {
        max-width: unset;
        width: clamp(19rem, 20vw, 30rem);
        position: absolute;
        top: -8rem;
        left: 5rem;
    }

    #header-images-anchor > img:nth-child(4) {
        max-width: unset;
        width: clamp(15rem, 16vw, 27rem);
        position: absolute;
        top: -5rem;
        left: -7rem;
    }

    #header-images-anchor > img {
        transition: 0.3s;   
    }

    #header-images-anchor > img:nth-child(1):hover,
    #header-images-anchor > img:nth-child(2):hover,
    #header-images-anchor > img:nth-child(4):hover {
        transform: scale(115%);
        z-index: 1;
    }

    #header-images-anchor > img:nth-child(3):hover {
        transform: scale(112%);
        z-index: 1;
    }
}